<div id="add" class="container">

    <p>Agregar pelicula!</p>
    <div class="row">
        <div class="col-sm-6">
        <form>

            <div class="mb-3">
                <label class="form-label">Nombre de la pelicula</label>
                <input [(ngModel)]="movie.mov_title" type="text" class="form-control" name="title">
            </div>
            <div class="mb-3">
                <label class="form-label">Año</label>
                <input [(ngModel)]="movie.mov_year" type="text" class="form-control" name="year">
            </div>
                
            <div class="mb-3">
                <label class="form-label">Duracion</label>
                <input [(ngModel)]="movie.mov_time" type="text" class="form-control" name="released">

            </div>

            <div class="mb-3">
                <label class="form-label">Idioma de la pelicula</label>
                <input [(ngModel)]="movie.mov_lang" type="text" class="form-control" name="language">
            </div>
            
            <div class="mb-3"> 
                <label class="form-label">Fecha</label>
                <input [(ngModel)]="movie.mov_dt_rel" type="text" class="form-control" name="date">
            </div>

            <div class="mb-3">
                <label class="form-label">Pais</label>
                <input [(ngModel)]="movie.mov_rel_country" type="text" class="form-control" name="country">
            </div>
                
            <button (click)="add()" class="btn btn-info">Agregar</button>
        </form>
        </div>
        
    </div>

    
</div>