
<div  id="fondo" class="container">
        <button id="add" routerLink="/add" type="button" class="btn btn-info">Agregar</button>

        <div class="mt-4">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Año </th>
                    <th scope="col">Duracion</th>
                    <th scope="col">Lenguaje</th>
                    <th scope="col">Estreno</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of ListMovie">
                    <th>{{movie.mov_id}}</th>
                    <td>{{movie.mov_title}}</td>
                    <td>{{movie.mov_year}}</td>
                    <td>{{movie.mov_time}}</td>
                    <td>{{movie.mov_lang}}</td>
                    <td>{{movie.mov_dt_rel}}</td>
                    <td>{{movie.mov_rel_country}}</td>
                    <td>
                        <button (click)="modify(movie.mov_id)" type="button" class="btn btn-info"><i class="fa fa-edit" id="edit"></i></button>
                    </td>
                    <td>
                        <button id="button" (click)="delete(movie.mov_id)" type="button" class="btn btn-warning"><i class="fa fa-trash" id="delete"></i></button>
                    </td>
                    <td></td>
        
                </tr>
        
            </tbody>
        </table>
        </div>
</div>
